@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');
:root{
    --fondo: #000;
    --figura: #ff6a6a;
}



body {
    font-family: 'Averia Serif Libre', cursive;
    background: var(--fondo);
    color: var(--figura);
}

body.portada{
    background:var(--fondo) url('images/portada.jpg') right bottom no-repeat;
    background-size:auto 100%;
}

a {
    font-weight: bold;
    color: #ff6a6a;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.75);
}

:hover{
    transition: all ease .5s;
}

main div#mapa{
    margin:1%;
    width:98%;
    height:60vh;
}

main canvas#grafico{
    background:#111;
}
